@font-face {
  font-family: 'Martian Mono';
  src: url(/fonts/9dc9a40944d5007bc4d9.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rock 3D';
  src: url(/fonts/b8090dd179302c75f91a.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Rock 3D', 'Martian Mono', sans-serif;
  font-size: 4rem;
}

body {
  margin: 0;
  font-family: 'Martian Mono', serif; /* Use the custom font */
  color:rgb(255, 66, 66);
}
::selection {  
  background-color: transparent;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-root {
  position: relative;
  height: 100vh;
}
.title {
  margin: 0;
}

.marcia {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 250px;
}

.nav-menu {
  padding: 0;
  margin: 4px 0 0 0 ;
  line-height: 0.9;
  list-style-type: none;
  font-size: 2rem;
}

.nav-menu.inverted > li > a {
  color: black;
}
.nav-menu.inverted > li > a:hover {
  color: white;
}
.nav-menu > li > a {
  text-decoration: none;
  color: rgb(255, 66, 66);
}

.nav-menu > li > a:hover {
  color: black;
}

