@font-face {
  font-family: 'Martian Mono';
  src: url(/fonts/9dc9a40944d5007bc4d9.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rock 3D';
  src: url(/fonts/b8090dd179302c75f91a.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Rock 3D', 'Martian Mono', sans-serif;
  font-size: 4rem;
}

body {
  margin: 0;
  font-family: 'Martian Mono', serif; /* Use the custom font */
  color:rgb(255, 66, 66);
}

::selection {  
  background-color: transparent;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center > .first,
.center > .last {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.center > .first > .letter,
.center > .last > .letter {
  margin: 0;
  cursor: pointer;
}

.center > .first > .letter:hover,
.center > .last > .letter:hover {
  color: white;
}


.content-root {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.title {
  margin: 0;
}

.nav-menu {
  padding: 8px 0 0 0;
  margin: 0;
  line-height: 0.9;
  list-style-type: none;
  font-size: 2rem;
  position: relative;
  z-index: 100;
}

.nav-menu.inverted > li > a {
  color: black;
}
.nav-menu.inverted > li > a:hover {
  color: white;
}
.nav-menu > li {
  max-height: 36px;
  display: flex;
  align-items: center;
}
.nav-menu > li > a {
  text-decoration: none;
  color: rgb(255, 66, 66);
  font-size: 2.5rem;
}

.nav-menu > li > a:hover {
  color: black;
}



.marcia {
  position: absolute;
  bottom: 0;
  left: 300px;
  max-width: 250px;
}
.rose {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
}
.mango1 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 250px;
}
.alien {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100px;
}
.nona {
  position: absolute;
  right: 50px;
  top: 10px;
  max-width: 300px;
}
.ciggy-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
}
.ciggy {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 250px;
}

.smoke {
  position: absolute;
  right: 152px;
  bottom: 0px;
  transform: translateY(-50%) rotate(-31deg);
  max-width: 50px;
}
.peach {
  max-width: 30px;
  opacity: 0;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}
li.show > .peach {
  opacity: 1.0;
}

.full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.happy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.happy-vimeo {
  position: relative;
  z-index: 100;
}
