@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
:root {
  --spinner-border-color: rgb(227, 227, 227);
  --spinner-border-top-color: rgb(175 97 97);
}
h1 {
  font-weight: 500;
  font-size: 4rem;
}
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #e2d0cb;
}
::selection {  
  background-color: transparent;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center > .first,
.center > .last {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.center > .first > .letter,
.center > .last > .letter {
  margin: 0;
  cursor: pointer;
}
.center > .first > .letter:hover,
.center > .last > .letter:hover {
  color: white;
}
.content-root {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.title {
  margin: 0;
}
.nav-menu {
  padding: 8px 0 0 0;
  margin-left: 20px;
  line-height: 0.9;
  list-style-type: none;
  position: relative;
  z-index: 100;
  font-weight: 400;
  color: black;
  letter-spacing: -0.5px;
}
.nav-menu > li {
  height: 29px;
  display: flex;
  align-items: center;
}
.nav-menu > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.nav-menu > li > img {
  margin: 0 2px;
}
.nav-menu > li > a:hover {
  color: white;
}
.marcia {
  position: absolute;
  bottom: 0;
  left: 300px;
  max-width: 250px;
}
.rose {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
}
.mango1 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 250px;
}
.alien {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100px;
}
.nona {
  position: absolute;
  right: 50px;
  top: 10px;
  max-width: 300px;
}
.ciggy-container {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
}
.ciggy {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 250px;
}
.smoke {
  position: absolute;
  right: 152px;
  bottom: 0px;
  transform: translateY(-50%) rotate(-31deg);
  max-width: 50px;
}
.peach {
  position: absolute;
  bottom: 0;
  right: -20px;
  opacity: 1;
}
li.show > a {
  color: white;
}
.full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.happy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.happy-inner-container {
  width: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.vimeo-crop {
  position: relative;
  z-index: 100;
  width: 640px;
  height: 316px;
  overflow: hidden;
  border: 4px solid black;
}
.happy-vimeo {
  display: block;
  margin-top: -22px;
  border: none;
}
.carnivore-youtube {
  position: relative;
  z-index: 100;
  border: 4px solid black;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-link {
  font-size: 23px;
  color: white;
}
.contact-link:hover {
  color: black;
}
