@font-face {
  font-family: 'Martian Mono';
  src: url('./assets/fonts/Martian_Mono/MartianMono-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rock 3D';
  src: url('./assets/fonts/Rock_3D/Rock3D-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Rock 3D', 'Martian Mono', sans-serif;
  font-size: 4rem;
}

body {
  margin: 0;
  font-family: 'Martian Mono', serif; /* Use the custom font */
  background-color: rgb(255 66 66);
}
::selection {
  color: white;
  background-color: transparent;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-root {
  position: relative;
  height: 100vh;
}
.title {
  margin: 0;
}

.nav-menu {
  padding: 0;
  margin: 0;
  line-height: 0.9;
  list-style-type: none;
  font-size: 2rem;
}

.nav-menu > li > a {
  text-decoration: none;
  color: black;
}

.nav-menu > li > a:hover {
  color: white;
}
